
<!DOCTYPE html>
<html lang="en">
<head>
<title>OpiumLab &dash; Login Page</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/css/bootstrap.min.css" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="11b647026f0a5a3706885a1c-text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://js.hcaptcha.com/1/api.js" async defer type="11b647026f0a5a3706885a1c-text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/firacode/6.2.0/fira_code.css" integrity="sha512-LaxQmGd9k/pW51CsEy2nLIlbUXCgsyvUEVT5fSguN2b2OBwHjMi2aiUdEEXSMg8Jvy+bCB01as61aNrHnL2DYQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
html, body {
  height: 100%;
  background-image: url('https://i.pinimg.com/originals/f3/f6/a0/f3f6a0b3b5e5498da6cb3f538143504b.gif');
  background-size: cover;
  font-family: 'Fira Code', monospace;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
}
@media (max-width: 768px) {
  .form-signin {
    max-width: 100%;
  }
}
#error-message {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main class="form-signin">
<form id="loginForm">
<h2 class="h3 mb-3 fw-normal" style="color: #fff;">Login</h2>
<div class="form-floating">
<input type="text" id="user" class="form-control" placeholder="Username" required>
<label for="user">Username</label>
</div>
<br>
<div class="form-floating">
<input type="password" id="pass" class="form-control" placeholder="Password" autocomplete="off" required>
<label for="pass">Password</label>
</div>
<br>
<div class="h-captcha" data-sitekey="7f84b495-feb9-4e81-9fcb-3c5bad0b7dcf" data-callback="onHCaptchaVerified"></div>
<br>
<button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
<div id="error-message" class="alert alert-danger d-none" role="alert"></div>
</form>
</main>

<script type="11b647026f0a5a3706885a1c-text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    var hcaptchaWidgetId; // Store the hCaptcha widget ID

    // Initialize hCaptcha
    hcaptchaWidgetId = hcaptcha.render('hcaptcha-container', {
        sitekey: '7f84b495-feb9-4e81-9fcb-3c5bad0b7dcf',
        callback: onHCaptchaVerified
    });

    // Reload hCaptcha when the "Reload Captcha" button is clicked
    document.getElementById('reloadCaptchaBtn').addEventListener('click', function() {
        hcaptcha.reset(hcaptchaWidgetId);
    });
    
    // Define the callback function for hCaptcha verification
    function onHCaptchaVerified(response) {
        // Handle the hCaptcha response here
    }
});
</script>
<script type="11b647026f0a5a3706885a1c-text/javascript">
var hCaptchaResponse = '';

// Define the callback function for hCaptcha verification
function onHCaptchaVerified(response) {
    hCaptchaResponse = response; // Store the hCaptcha response
}

function login(response) {
    var user = $('#user').val();
    var pass = $('#pass').val();
    $.ajax({
        type: 'POST',
        url: 'login.php',
        data: {
            username: user,
            password: pass,
            hcaptcha_response: response // Include the hCaptcha response in your request
        },
        success: function(response) {
            if (response === 'success') {
                window.location.href = 'dash.php';
            } else {
              var error = JSON.parse(response);

                $('#error-message').text(error.error).removeClass('d-none');

                setTimeout(function() {
                    $('#error-message').addClass('d-none');
                }, 2000);
            }
        }
    });
}

// In the submit event handler, replace the alert for CAPTCHA verification:
$(document).ready(function() {
    $('#loginForm').on('submit', function(e) {
        e.preventDefault(); // Prevent default form submission
        if (!hCaptchaResponse) { // Check if the hCaptcha response is not available
            $('#error-message').text('Please complete the CAPTCHA verification.').removeClass('d-none');
        } else {
            login(hCaptchaResponse); // Proceed with login if hCaptcha response is available
        }
    });
});
</script>
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="11b647026f0a5a3706885a1c-|49" defer></script></body>
</html>
